<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ApartMax", "ListajApartmane", "MojProfil", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Pocetna", "ListajApartmane", "MojProfil")</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>

                    @if (ViewBag.Korisnik != null)
                    {
                        if (!ViewBag.Korisnik.LoggedIn)
                        {
                            <li><a href="~/Login">Log in</a></li>
                            <li><a href="~/Register/Index">Register</a></li>
                        }
                    }

                    @if (ViewBag.Korisnik != null)
                    {
                        if (ViewBag.Korisnik.LoggedIn)
                        {




                            switch (ViewBag.Korisnik.UlogaKorisnika.ToString())
                            {
                                case "Gost": // Gost
                                    <li class="dropdown">
                                        <a href="~/MojProfil/Index" class="dropdown" data-toggle="dropdown">Gost<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/MojProfil/Index">Moj Profil</a></li>
                                            <li><a href="~/MojProfil/ListajApartmane">Svi apartmani</a></li>

                                        </ul>
                                    </li>
                                    break;

                                case "Administrator":

                                    <li class="dropdown">
                                        <a href="~/MojProfil/Index" class="dropdown" data-toggle="dropdown">Administrator<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/MojProfil/Index">Moj Profil</a></li>
                                            <li><a href="~/MojProfil/ListajKorisnike">Svi korisnici</a></li>
                                            <li><a href="~/MojProfil/ListajApartmane">Svi apartmani</a></li>
                                        </ul>
                                    </li>

                                    break; // Administrator

                                case "Domacin":
                                    <li class="dropdown">
                                        <a href="~/MojProfil/Index" class="dropdown" data-toggle="dropdown">Domacin<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/MojProfil/Index">Moj Profil</a></li>
                                            <li><a href="~/MojProfil/ListajApartmane">Moji apartmani</a></li>
                                            <li><a href="~/MojProfil/DodajApartman">Dodaj novi apartman</a></li>
                                        </ul>
                                    </li>
                                    break; // Domacin
                            };

                            <li><a href="~/Login/SignOff">Odjavi se</a></li>
                        }
                    }
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
