@{
    ViewBag.Title = "ListajKorisnike";
}
@if (ViewBag.Korisnik.IsAdmin())
{
    <h2>Svi korisnici: </h2>
    <form action="~/MojProfil/MenjajUlogu" method="post">
        <table cellspacing=5 cellpadding=5 border=0>
            <tr>
                <td align=left><b>Korisnik:</b>  </td>
                <td align=left>Uloga:  </td>
                <td align=left>Ime:  </td>
                <td align=left>Prezime:  </td>
                <td align=left>Korisnicko ime:  </td>
                <td align=left>Lozinka:  </td>
                <td align=left>Uloge</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            @foreach (var k in ViewBag.ListajKorisnikeList)
            {
                <tr>
                    <td align=left><b>&nbsp;</b>  </td>                 
                    <td><b>@k.UlogaKorisnika</b></td>
                    <td><b>@k.Ime</b></td>
                    

                    
                    
                    <td><b>@k.Prezime</b></td>
                    

                    
                    
                    <td><b>@k.KorisnickoIme</b></td>
                    

                    
                    
                    <td><b>@k.Lozinka</b></td>

                    <td align=left>Izmeni ulogu:  </td>
                    <td>&nbsp;</td>
                    <td>
                        <select title="UlogaKorisnika" name="UlogaKorisnika">
                            <option value="@k.UlogaKorisnika.ToString()" selected>@k.UlogaKorisnika.ToString()</option>
                            @foreach (var s in ViewBag.UlogeKorisnika)
                            {
                                if (!k.UlogaKorisnika.ToString().Equals(s) && s != "Administrator")
                                {
                                    <option value="@s">@s</option>
                                }
                            }

                        </select>
                    </td>
                </tr>
                <tr>&nbsp;</tr>
                <tr>&nbsp;</tr>

            }

        </table>
        <input type="submit" value=" Izmeni " />
    </form>
}
else
{
    <h2>Nemate pravo da pogledate spisak svih korisnika!</h2>
}

